<div id="page-wrapper">
  <div class="upperspace">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    사물함 신청<small>box application</small>
                </h1>
  <h2>A사물함</h2>
  <table>
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path do %>
                <input class = "but" type = "submit" name = "seatNumber" value = "A-<%= n %>">
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
  </table>
  <h2>B사물함</h2>
  <table>
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path do %>
                <input class = "but" type = "submit" name = "seatNumber" value = "B-<%= n %>">
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
  </table>
  <h2>C사물함</h2>
  <table>
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path do %>
                <input class = "but" type = "submit" name = "seatNumber" value = "C-<%= n %>">
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
  </table>
  <h2>D사물함</h2>
  <table>
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path do %>
                <input class = "but" type = "submit" name = "seatNumber" value = "D-<%= n %>">
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
  </table>
  <h2>E사물함</h2>
  <table>
      <% @number.each do |num| %>
        <tr>
          <% num.each do |n| %>
            <td>
              <%= form_tag box_index_path do %>
                <input class = "but" type = "submit" name = "seatNumber" value = "E-<%= n %>">
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
  </table>
</div>
</div>
</div>
</div>
</div>
