<div id="page-wrapper">
    <div class="container container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    회원정보<small>User info</small>
                </h1>
                <ul>
                  <li>이름 : <%= current_user.name %></li>
                  <li>이메일 : <%= current_user.email %></li>
                  <% if current_user.seatNumber != nil %>
                    <% if current_user.admin != true %>
                      <li>사물함 : <%= current_user.seatNumber %><%= link_to "사물함 취소", box_path(current_user.id), method:"delete" %></li>
                    <% end %>
                  <% else %>
                    <% if current_user.admin != true %>
                      <li>사물함 : 신청하지 않으셨습니다.</li>
                    <% end %>
                  <% end %>
                  <li><%= link_to "비밀번호수정", edit_user_registration_path %></li>
                </ul>
              </div>
      </div>
</div>
