<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>네자리내자리</title>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<!-- Custom CSS -->
<link href="custom.css" rel="stylesheet">
<!-- Bootstrap Core CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- font-->

<!--font awesome-->
<script src="https://use.fontawesome.com/c4d4806801.js"></script>
<!-- jQuery -->
<script src="jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bootstrap.min.js"></script>

<!-- Scrolling Nav JavaScript -->
<script src="jquery.easing.min.js"></script>
<script src="scrolling-nav.js"></script>

<!-- Less-->
<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.3.1/less.min.js"></script>
<link rel="stylesheet/less" type="text/css" href="style.less" />
<script src="less-1.7.0.min.js"></script>=
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/posts#page-top">네자리내자리</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="/posts#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/posts#about">서비스</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/posts#services">이용방법</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/posts#contact">이용제휴</a>
                    </li>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i><b class="caret"></b></a>
                      <ul class="dropdown-menu alert-dropdown">
                        <% if user_signed_in? %>
                          <li><%= current_user.name %>님 안녕하세요.</li>
                        <% end %>
                        <% if user_signed_in? %>
                          <li><%= link_to new_post_path do %>내정보<% end %></li>
                          <li><%= link_to "사물함 신청", box_index_path %></li>
                          <% if user_admin? %>
                            <li><%= link_to "신청현황", admin_index_path %></li>
                            <li><%= link_to "학생등록", csv_index_path, method:"get" %></li>
                          <% end %>
                        <% else %>
                          <li><a href="/users/sign_in">Sign in</a></li>
                        <% end %>
                        <% if user_signed_in? %>
                          <li><%= link_to "로그아웃", destroy_user_session_path, method: "delete" %></li>
                        <% end %>
                      </ul>
                  </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <%= flash[:alert] %>
    <%= yield %>
</body>
</html>
